@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
/* font-family: 'Open Sans', sans-serif; */
/* font-family: "Poppins", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  height: 100vh;
  position: relative;
}

.container {
  height: 100vh;
}
.container .img-circle {
  background: url("../img/1.jpg") center/cover fixed no-repeat;
  border: 3px solid #b9b9b8;
  border-radius: 50%;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 10;
  transition: background 1s;
}
.container .mid-head {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}
.testimonial-slide {
  width: 80%;
  /* background: rgba(0, 0, 0, 0.28); */
  background-color: rgba(236,236,236,0.30);
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  top: 22.4%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.testimonial-slide p {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
/* 
.hide-line{
  position: absolute;
  width: 2px;
  left: 39px;
  height: 380px;
  background: #000;
  z-index: 40;
} */
.para-two {
  margin-top: 9px;
}
.left-box {
  width: 120px;
  height: 150px;
  background: #000;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 12px;
  margin-top: 7px;
}
.right-box {
  position: absolute;
  top: 42.8%;
  left: 55%;
  width: 120px;
  height: 150px;
  background: #000;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 12px;
  margin-top: 7px;
}
.left-down-para {
  margin-top: 15px;
}
.right-box ul li {
  list-style: none;
  text-align: left;
}
.cur-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}
.circle-position {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}
.present {
  height: 15px;
  width: 15px;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* .swiper {
  margin: 100px auto;
  width: 320px;
  height: 240px;
} */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide {
  padding-top: 38px;
  padding-left: 29px;
  padding-right: 18px;
}
.top-black-box{
  width: 93%;
  height: 40%;
  background: #000;
  color: white;
  position: relative;
  border-radius: 12px;
}
.top-para-black-box , .bottom-para-black-box{
  width: 50%;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 0.8rem !important;
}
.top-para-black-box{
  padding-top: 10px !important;
}
.right-img-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("../img/inside.jpg") center/cover fixed no-repeat;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50% , -50%);
}
.text-top-second , .text-bottom-second{
  padding-left: 10px;
  margin-top: 10px;
  font-size: 0.8rem !important;
  width: 90%;
}
.top-head-third{
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
}
.center-head-third  {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 10px;
  width: 90%;
}

.bottom-head-third{
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  width: 90%;
  margin-bottom: 10px;
  line-height: 23px;
  font-weight: 400;
}
.black-box-third{
  background: #000;
  color: white;
  height: 30%;
  border-radius: 12px;
  width: 93%;
  padding: 10px;
  position: relative;
}
.luv-u{
  position: absolute;
  top: 77%;
  left: 77%;
  transform: translate(-50% , -50%);
}
.third-box-text{
  font-size: 1.1rem !important;
  width: 80%;
}
.top-white{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  margin-left: 10px;
  margin-bottom: 10px;
}
.bottom-black{
  width: 93%;
  font-family: 'Open Sans', sans-serif;
  background: #000;
  color: white;
  border-radius: 12px;
  padding: 10px;

}